version: '2'
services:
  drupal:
    build:
      context: .
      dockerfile: Dockerfile.development
    volumes:
      - ./.data/drupal/files:/var/www/files
      - ./.data/drupal/settings:/var/www/settings
      - ./.data/drupal/private:/var/www/private
      - ./public_html/modules:/var/www/html/modules
      - ./public_html/themes:/var/www/html/themes
      - ./config:/var/www/config
  nginx:
    image: gabesullice/drocker-nginx
    ports:
      - 80:80
    links:
      - drupal:php-fpm
    volumes_from:
      - drupal:ro
  mysql:
    image: mysql
    volumes:
      - ./.data/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=drocker
      - MYSQL_DATABASE=drocker
      - MYSQL_USER=drocker
      - MYSQL_PASSWORD=drocker
