version: '2'
services:
  drupal:
    build: .
    volumes:
      - ./docroot/sites/all:/var/www/html/sites/all
      - ./.data/drupal/files:/var/www/files
      - ./.data/drupal/private:/var/www/private
      - ./.data/drupal/settings:/var/www/settings
  nginx:
    image: gabesullice/drocker-nginx
    ports:
      - 80:80
    links:
      - drupal:php-fpm
    volumes_from:
      - drupal:ro
  mysql:
    image: mysql
    volumes:
      - ./.data/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=drocker
      - MYSQL_DATABASE=drocker
      - MYSQL_USER=drocker
      - MYSQL_PASSWORD=drocker
